<template>
  <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-form-group
        id="input-group-1"
        label="Title:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="post.title"
          placeholder="Enter title"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Url Image:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="post.urlImage"
          type="url"
          placeholder="Enter URL Image"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Content:">
        <markdown-editor v-model="post.content" toolbar=''></markdown-editor>
      </b-form-group>

      <b-form-group id="input-group-3" label="Release Date:" label-for="input-3">
        <b-form-datepicker id="input-3" v-model="post.releaseDate" class="mb-2"></b-form-datepicker>
      </b-form-group>

      <b-button class="mb-4" type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>

<script>
import { postService } from "../services/index";
import moment from 'moment'

export default {
  name: "CreatePost",
  props: {
    id: {
      type: Number,
      required: false,
      default: null
    }
  },
  created () {
    this.fetchData()
  },
  data () {
    return {
      post: {}
    }
  },
  methods: {
    async fetchData () {
      if (this.id) {
        this.post = await postService.getPostById(this.id)
      }
    },
    async onSubmit () {
      if (this.id) {
        await postService.updatePost(this.id, this.post)
      } else {
        this.post.releaseDate = moment(String(this.post.releaseDate)).format('YYYY-MM-DDThh:mm')
        this.post.owner = Number(localStorage.getItem('user_id'))
        await postService.createPost(this.post)
      }
      this.$router.push({ name: 'Home' })
    }
  }
};
</script>

<style scoped lang="scss">
</style>
