<template>
  <div class="hello">
    <UserModal :forCreate="forCreate" :open="open"/>
    <b-navbar variant="faded" type="light">
      <b-navbar-brand href="#">
        <img width="40" height="40" alt="Vue logo" src="../assets/logo.png" />
        Best Blogging Platform Ever
      </b-navbar-brand>
      <b-nav>
        <b-nav-item active>
          <router-link to="/">Home</router-link>
        </b-nav-item>
        <b-nav-item>
          <router-link to="/about">About</router-link>
        </b-nav-item>
      </b-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item @click="openSignInModal(false)">
          Sign In
        </b-nav-item>
        <b-nav-item @click="openSignInModal(true)">
          <span>Sign Up</span>
        </b-nav-item>
        <b-nav-item @click="logout()">
          <span>Log Out</span>
        </b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <b-jumbotron header="Best Blogging Platform Ever" lead="Blogs of your favorite topics">
      <p>For a better user experience, log in to this platform</p>
      <b-button variant="primary" @click="openSignInModal(false)">Sign In</b-button>
    </b-jumbotron>
  </div>
</template>

<script>
import UserModal from "./UserModal";
import { userService } from "../services/index";

export default {
  name: "Header",
  components: {
    UserModal
  },
  data () {
    return {
      open: false,
      forCreate: false
    }
  },
  methods: {
    openSignInModal: function (forCreate) {
      this.open = !this.open
      this.forCreate = forCreate
      this.$bvModal.show('modal-prevent-closing')
    },
    logout: function () {
      userService.logout()
    }
  }
};
</script>

<style scoped lang="scss">
.jumbotron {
  background-image: url("../assets/jumb-image.jpg");
  background-size: contain;
}
.navbar {
  background-color: rgb(232, 230, 233)
}
</style>
