<template>
  <div>
    <!-- Error Modal -->
    <b-modal id="error-modal" title="Error">
      <div class="d-block text-center">
        <h3>{{ msg }}</h3>
      </div>
    </b-modal>
    <!-- Sign In Sign Up Modal -->
    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      hide-footer
      :title="forCreate ? 'Create your profile' : 'Log In'"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          v-if="forCreate"
          label="Name"
          label-for="name-input"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          v-if="forCreate"
          label="LastName"
          label-for="last-name-input"
        >
          <b-form-input
            id="last-name-input"
            v-model="lastName"
            required
          ></b-form-input>
        </b-form-group>
        
        <b-form-group
          v-if="forCreate"
          label="Email"
          label-for="email-input"
        >
          <b-form-input
            id="email-input"
            type="email"
            v-model="email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Username"
          label-for="username-input"
        >
          <b-form-input
            id="username-input"
            v-model="username"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Password"
          label-for="password-input"
        >
          <b-form-input
            id="password-input"
            v-model="password"
            type="password"
            required
          ></b-form-input>
        </b-form-group>

        <b-button
          variant="primary"
          type="submit"
          class="float-right"
        >
          Ok
        </b-button>
      </form>
    </b-modal>
  </div>
</template>

<script>
import { userService } from "../services/index";

export default {
  name: "UserModal",
  props: {
    forCreate: Boolean,
    open: Boolean,
  },
  data () {
    return {
      msg: '',
      name: '',
      lastName: '',
      email: '',
      username: '',
      password: ''
    }
  },
  methods: {
    checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        return valid
      },
      resetModal() {
        this.name = ''
        this.lastName = ''
        this.email = ''
        this.username = ''
        this.password = ''
      },
      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      async handleSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }

        let err = false

        if (this.forCreate) {
          await userService.createUser({
            name: this.name,
            lastName: this.lastName,
            email: this.email,
            username: this.username,
            password: this.password
          }).catch(() => {
            err = true
            this.msg = "This username is taken"
            this.$bvModal.show('error-modal')
          })
        } else {
          await userService.login({
            username: this.username,
            password: this.password
          }).catch(() => {
            err = true
            this.msg = "Invalid Credentials"
            this.$bvModal.show('error-modal')
          })
        }

        if (!err) {
          this.$nextTick(() => {
            this.$bvModal.hide('modal-prevent-closing')
          })
        }
      }
    }
};
</script>

<style scoped lang="scss">
</style>
