<template>
  <div>
    <CreatePost :id="Number($route.params.id)"/>
  </div>
</template>

<script>
import CreatePost from "../components/CreatePost";

export default {
  components: {
    CreatePost
  }
}
</script>