<template>
  <div class="home">
    <b-row v-if="posts" align-h="between">
      <b-col><h1>Post list</h1></b-col>
      <b-col>
        <b-row align-h="end">
          <b-col sm="auto">
            <p class="mt-1">Order By:</p>
          </b-col>
          <b-col>
            <b-form-select v-model="order" :options="orderOptions"></b-form-select>
          </b-col>
          <b-col>
            <b-form-select v-model="orderType" :options="orderTypeOptions"></b-form-select>
          </b-col>
          <b-col sm="auto">
            <b-icon-plus v-b-popover.hover.righttop="'Login First!'" class="h1 pointer zoom" variant="success" @click="newPost()"></b-icon-plus>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="6" v-for="post in posts" :key="post.id">
        <b-card :img-src="post.urlImage" img-alt="Card image" img-left class="mb-3 zoom pointer" @click="$router.push(`posts/${post.id}/`)">
          <b-card-title>
            {{ post.title }}
          </b-card-title>
          <b-card-body>
            {{ post.content | showNchars(15) }}
          </b-card-body>
          <b-card-text>
            Release Date: {{ post.releaseDate | formatDate }}
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<style scoped lang="scss">
.zoom:hover {
  transition: transform .5s;
  transform: scale(1.1);
}
.pointer {
  cursor: pointer;
}
.card-img-left {
  width: 200px;
  height: 200px;
  size: center;
}
</style>

<script>
import { postService } from "../services/index";
import { BIconPlus } from 'bootstrap-vue'

export default {
  components: {
    BIconPlus
  },
  data () {
    return {
      posts: {},
      order: 'releaseDate',
      orderOptions: [
        { value: 'releaseDate', text: 'Release Date' },
        { value: 'title', text: 'Title' },
      ],
      orderType: '-',
      orderTypeOptions: [
        { value: '-', text: 'Desc' },
        { value: '', text: 'Asc' },
      ]
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData',
    'order': 'fetchData',
    'orderType': 'fetchData',
  },
  methods: {
    async fetchData () {
      const orderingFilter = {
        ordering: `${this.orderType}${this.order}`
      }
      this.posts = await postService.getAllPosts(orderingFilter)
    },
    newPost () {
      const token = localStorage.getItem('token')
      if (token) {
        this.$router.push(`posts`)
      }
    }
  }
}
</script>