<template>
  <div>
    <b-row v-if="Number(userId) === Number(post.owner)" align-h="end">
      <b-col sm="auto">
        <b-icon-pen class="h1 pointer zoom" variant="primary" @click="edit()"></b-icon-pen>
      </b-col>
      <b-col sm="auto">
        <b-icon-trash class="h1 pointer zoom" variant="danger" @click="destroy()"></b-icon-trash>
      </b-col>
    </b-row>
    <b-img :src="post.urlImage" fluid alt="Responsive image"></b-img>
    <h1>{{ post.title }}</h1>
    <vue-simple-markdown class="mb-5" :source="post.content"></vue-simple-markdown>
  </div>
</template>

<script>
import { postService } from "../services/index";
import { BIconPen, BIconTrash } from 'bootstrap-vue'

export default {
  components: {
    BIconPen,
    BIconTrash
  },
  data () {
    return {
      post: {},
      userId: localStorage.getItem('user_id')
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData',
  },
  methods: {
    async fetchData () {
      const id = this.$route.params.id
      this.post = await postService.getPostById(id)
    },
    async destroy () {
      const id = this.$route.params.id
      await postService.deletePost(id)
      this.$router.push('/')
    },
    edit () {
      this.$router.push(`/posts/${this.post.id}/edit/`)
    }
  }
}
</script>

<style scoped lang="scss">
.zoom:hover {
  transition: transform .5s;
  transform: scale(1.1);
}
.pointer {
  cursor: pointer;
}
</style>